

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top:0;
}

.one {
  background-image:url('file://localhost/Users/nickgray/Desktop/UX/blue/img/redsmoke2.jpg');
  height:700px;
}

.one h1 {
  margin-top:260px;
  text-align: center;
  color:white;
  border-top:3px dotted white;
  border-bottom:3px dotted white;
  font-family: Avenir;
  padding-top:15px;
  padding-bottom:10px;
  text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}

.one p {
  text-align:center;
  margin-top:105px;
  color:white;
  text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}

.one ul {
  list-style-type: none;
  display:inline-flex;
  padding-left:440px;
  padding-top:30px;
}

.one img {
  height:50px;
  width:50px;
  margin-left:10px;
}

.one .first {
  margin-left:-10px;
}

.two {
  width:100%;
  position:fixed;
  z-index:100000;
  background: #262626;
  margin-top:-30px;
  height:110px;
  margin-bottom:0;
  bottom:0;
}

.two .row span a {
  font-size:40px;
  margin-left:130px;
  font-family: Avenir;
  /*color:#B81324;*/
  color:#FFFFFF;
  text-decoration:none;
}

.two .row span a:hover {
  color:#B81324;
}

.two .row .col-lg-4 {
  bottom:25px;
}

.three {
  margin-bottom:0;
  padding-top:90px;
  height:1400px;
  background: #FFFFFF;
}

.three .container {
  /*border:5px dotted #CCCCCC;*/
  padding-left: 40px;
  padding-right:40px;
  padding-bottom:40px;
}

.three .container .title-mission {
  background-color:#B81324;
  width:260px;height:60px;
  color:#FFFFFF;
  text-align:center;
  margin-left:-75px;
  margin-bottom:-11px;
  margin-top:30px;
  font-family:avenir;
  font-size:30px;
  text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);

}

.triangle {
  -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);
  margin-left:-75px;
}

.three b {
  color:#B81324;
}

.three .row .left img {
  border-radius:130px;
  height:175px;
  width:auto;
  margin-top:60px;
  margin-right:25px;
  border:3px solid #B81324;
}

#work {
  background-color:#FFFFFF;
  height:1600px;
}

#work .container .title-mission {
  background-color:#B81324;
  width:260px;height:60px;
  color:#FFFFFF;
  text-align:center;
  margin-left:-50px;
  margin-bottom:-11px;
  margin-top:118px;
  font-family:avenir;
  font-size:30px;
  text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
  padding-top:10px;
}

#work .container .tri-image {
  margin-bottom:-70px;
}

#work .triangle {
  -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);
  margin-left:-50px;
  margin-top:10px;
}

#work .featurette {
  margin-bottom:200px;
}

#work .featurette-heading:nth-child(1) {
  margin-top:100px;
}

#work .onemore {
  margin-top:100px;
}

#work div.col-lg-7:nth-child(1) {
  margin-top:150px;
  position:absolute;
}

#work div.col-lg-5.col-lg-offset-7 {
  position:relative;
  right:-60px;
}

.imageWrapper1:hover {
  cursor: pointer;
  height:auto;
  width: auto;
  transform:scale(1.3);
  -ms-transform:scale(1.3); /* IE 9 */
  -moz-transform:scale(1.3); /* Firefox */
  -webkit-transform:scale(1.3); /* Safari and Chrome */
  -o-transform:scale(1.3); /* Opera */
  z-index:30000;
}

.imageWrapper1 {
  position: relative;
  width: auto;
  height: auto;
}

.imageWrapper1 img {
  width:150px;
}

.imageWrapper1 .cornerLink {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 2px 0px;
  color: #ffffff;
  background: #B81324;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
}

.imageWrapper1:hover .cornerLink {
  opacity: 0.45;
}

span.col-lg-5.column-one {
  padding-right:0;
}

span.col-lg-5.column-two {
  padding-right: 0;
}

div.col-lg-7:nth-child(2) {
  vertical-align: middle;
  padding-top:155px;
}

.six {
  background-color:#FFFFFF;
  height:2875px;
}

.six li {
  color:#B81324;
}

.six li span {
  color:#000000;
}

.six blockquote {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1em solid #B81324;
  font-size: 1.0em;
  font-style: italic;
  font-family: Avenir;
  margin: 0 1em 1.5em;
  padding: 1.5em 2em;
}

.six cite {
  font-family:Avenir;
  float:right;
  font-weight:bold;
  color:#FFF;
  text-shadow: 1px 1px 7px #B81324;
}

#resume .container .title-mission {
  background-color:#B81324;
  width:260px;height:60px;
  color:#FFFFFF;
  text-align:center;
  margin-left:-50px;
  margin-bottom:-11px;
  margin-top:75px;
  font-family:avenir;
  font-size:30px;
  text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
  padding-top:0;
}

#resume .container .tri-image {
  margin-bottom:-70px;
}

#resume .triangle {
  -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);
  margin-left:-50px;
  margin-top:-1px;
}

#resume a .last-image {
  margin-left:515px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

@media (min-width: 768px) {
  .two .row .col-md-4 {
    bottom:25px;
  }

  #work div.col-md-7:nth-child(1) {
    margin-top:150px;
    position:absolute;
  }

  #work div.col-md-5.col-md-offset-7 {
    position:relative;
    right:-60px;
  }

  span.col-md-5.column-one {
    padding-right:0;
  }

  span.col-md-5.column-two {
    padding-right: 0;
  }

  div.col-md-7:nth-child(2) {
    vertical-align: middle;
    padding-top:155px;
  }
}